* {
  background-color: #b0a5a5;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  width: 250px;
  padding: 15px;
  /* border: 1px solid #aaa;
  border-radius: 8px;
  background: #f8f8f8; */
}

.auth-container input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.logOutDiv {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

button {
  padding: 14px 18px;
  min-width: 40px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg, #b8d8d4, #e0e0e0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15),
    -2px -2px 5px rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
  text-align: center;
}

.back-button {
  left: 100px;
  top: 25px;
}

.title {
  color: #dadfde;
}

