 .fullDisplay {
   margin: 0;
   max-width: 100%;
   margin-top: 50px;
   min-width: 100%;
   margin-left: 800px;
 }

 .file-tab {
   max-width: 500px;
   min-width: 400px;
   margin-top: 3px;
   top: 0;
   margin-bottom: 1%;
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 10px;
 }


 .note-display {
   width: 100%;
   height: 20%;
   background-color: var(--bg-note);
   border: 1px solid var(--border-color);
   border-radius: 12px;
   padding: 2%;
   box-shadow: 0 4px 10px var(--shadow-color);
   display: flex;
   flex-direction: row;
   position: relative;
   overflow: hidden;
   transition: transform 0.2s ease-in-out;
   background: linear-gradient(145deg, #f7f9f9, #e2e6e6);

 }

 .note-display:hover {
   transform: translateY(-3px);
   box-shadow: 0 6px 15px var(--shadow-color);
 }

 .tab-header {
   display: flex;
   margin-bottom: 10px;
 }

 .edit-button,
 .close-button {
   padding: 6px 12px;
   border-radius: 6px;
   border: none;
   cursor: pointer;
   font-size: 14px;
   transition: all 0.2s ease;
 }

 .edit-button {
   background-color: #e0f7ffd5;
   color: #858282;
 }

 .edit-button:hover {
   background-color: #aab7bd;
 }

 .close-button {
   background-color: #e0f7ffd5;
   color: #858282;
 }

 .close-button:hover {
   background-color: #aab7bd;
 }

 .note-content {
   font-size: 14px;
   color: var(--text-color);
   line-height: 1.5;
   max-height: 300px;
   overflow-y: auto;
   overflow-x: hidden;
   direction: rtl;
   text-align: right;
   background: linear-gradient(145deg, #f7f9f9, #e2e6e6);
 }

 .note-content::-webkit-scrollbar {
   width: 6px;
 }

 .note-content::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.15);
   border-radius: 3px;
 }

 .note-content::-webkit-scrollbar-track {
   background: transparent;
 }

 .note-display h3 {
   margin: 0;
   font-size: 18px;
   color: var(--primary-color);
   border-bottom: 1px solid #f0f0f0;
   padding-bottom: 5px;
 }

 .notes-preview-container,
 .note-display,
 .note-content,
 .tab-header {
   direction: rtl;
   text-align: right;
   
 }